#title {
  background-color: #538cc6;
  color: #fff;
}

body {
  font-family: "Montserrat";
}

.container-fluid {

  /* top 3% left and right 15% and bottom 7% */
  padding: 3% 15% 7%
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Navigration Bar */
.navbar {
  /* top 0 left and right 0 bottom 4.5 */
  padding: 0 0 4.5rem
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 50%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 20%;
  /* rotate  */
  transform: rotate(25deg);
  /* to make someting behind or front the order of the stake we have to use the z-index.  */
  /* z index start with defaul zero then as perr index it shows in order  */
  /* for working the z-index we have to declear the postion */
  position: absolute;

  right: 30%
}

#features {
  /* 7% top and bottom and 15% left and right */
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}

.feature-box {
  text-align: center;
  /* padding 5% to all sides of the text */
  padding: 5%;
}

.icon {
  color:  #ff3300;
  /* add margin botton to give some space between text and icon  */
  margin-bottom: 1rem;
}

/* to change the hover state of the icon we have to use sudo class after the main icon colass then colon and hover */
.icon:hover {
  color:  #538cc6;;
}

/* Testimonial section */
#testimonials{
  /* add padding 7% top and bottom and 15% left and right */

  text-align: center;
  background-color:#538cc6;
  color: #fff;

}

.testimonial-image{
  /* to redeuce the image size */
  width: 10%;
  /* to make the image circular */
  border-radius: 100%;
  /* to give space all round to the iamge */
  margin: 10px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
    background-color: #538cc6;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  /* marging 20 pixel from top 15 left and right and 50 px from bottom */
  margin: 20px 15px 50px ;
}


/* pricing section*/

#pricing{
  padding: 100px;
  text-align: center;


}

.pricing-column{
  /* 3% top and bottom and 2% left and right  */
  padding: 3% 2%;
}

/* CTA section */
#cta{

  background-color: #538cc6;
  color: #fff;
  padding: 7% 15%;
  text-align: center;

}

.cta-heading{
  font-family: "Montserrat-Black";
  font-size:3.5rem;
  line-height: 1.5rem;
}

#footer{
  padding: 7% 15%;
  text-align: center;

}

.social-icon{

  margin: 20px 10px;

}
/* media quires breakpoint */
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);

  }
}
